@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-50rem) scale(0.75);
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
    transform: translateX(0rem) scale(1);
  }
}
@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(50rem) scale(0.75);
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
    transform: translateX(0rem) scale(1);
  }
}
@keyframes fadu-up {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  50% {
    opacity: 0.45;
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
:root {
  --color-primary-light: #00AABD;
  --color-primary-light-o: #00AABDBB;
  --color-primary-light-rgb: 0, 170, 189;
  --color-primary: #0085BD;
  --color-primary-o: #0085BDBB;
  --color-primary-rgb: 0, 133, 189;
  --color-primary-dark:#145DA0;
  --color-primary-dark-o:#145DA0BB;
  --color-primary-dark-rgb: 11, 55, 94;
  --color-primary-ultra: #0a355c;
  --color-primary-ultra-o: #0a345caf;
  --color-secondary: #00CCA4;
  --color-sceondary-dark: #1b5247;
  --color-secondary-rgb: 0, 204, 164;
  --color-tertiary: #DAA21B;
  --color-tertiary-rgb: 218, 162, 27;
  --color-white:#fff;
  --color-white-o:rgba(255, 255, 255, 0.9);
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2:#bbb;
  --color-grey-light-2-o:rgba(187, 187, 187, 0.486);
  --color-grey-dark:rgb(80, 80, 80);
  --color-grey-dark-o:rgba(80, 80, 80, 0.75);
  --color-dark-ultra:rgb(32, 32, 32);
  --color-black:#000;
  --default-small: .5rem;
  --default-radius: 1rem;
  --large-radius: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  padding: 3.5rem;
}

.u-mt-micro {
  margin-top: 0.5rem;
}

.u-mt-small {
  margin-top: 2rem;
}

.u-mt-medium {
  margin-top: 4rem;
}

.u-mt-big {
  margin-top: 6rem;
}

.u-mb-small {
  margin-bottom: 2rem;
}

.u-mb-medium {
  margin-bottom: 4rem;
}

.u-mb-big {
  margin-bottom: 6rem;
}

.highlight {
  text-decoration: underline;
  font-weight: 500;
}

.page-content {
  margin-top: 3.5rem;
}

.btn-transparent:link, .btn-transparent:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  padding: 1rem 2rem;
  color: currentColor;
  display: inline-block;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  z-index: 100;
}
.btn-transparent:hover {
  background-color: rgba(170, 170, 170, 0.15);
  transform: scale(1.2) rotate(5deg);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}
.btn-transparent:active {
  outline: none;
  transform: scale(1.2) rotate(5deg) translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--animated {
  animation: fadu-up 0.75s ease-out;
}

.card {
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  position: relative;
  height: 50rem;
  border-radius: var(--large-radius);
  transform: skewX(-7deg);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.55);
  transition: all 0.2s;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 1.5rem 6rem rgba(0, 0, 0, 0.65);
  transform: scale(1.05) skewX(-7deg);
}
.card--1 {
  align-self: flex-start;
}
.card--3 {
  align-self: flex-end;
}
.card__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.card__background--1 {
  background-color: rgba(var(--color-secondary-rgb), 0.6);
}
.card__background--2 {
  background-color: rgba(var(--color-primary-light-rgb), 0.6);
}
.card__background--3 {
  background-color: rgba(var(--color-primary-dark-rgb), 0.6);
}
.card__image {
  position: relative;
  z-index: -10;
  transition: all 0.2s;
}
.card__background:hover ~ .card__image {
  filter: blur(8px);
  -webkit-filter: blur(3px);
}
.card__heading {
  font-size: 4rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  letter-spacing: 0.5rem;
  color: currentColor;
  transform: skewX(7deg);
}
.card__link:link, .card__link:visited {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: currentColor;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  letter-spacing: 0.5rem;
  padding: 0.75rem 2rem;
  transition: all 0.2s;
  border-radius: 10rem;
}
.card__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.25);
}

.education {
  position: relative;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(45deg, var(--color-white) 5%, var(--color-secondary) 5%, var(--color-secondary) 37%, var(--color-tertiary) 37%, var(--color-tertiary) 40%, var(--color-primary-light) 40%, var(--color-primary-light) 60%, var(--color-primary-dark) 60%, var(--color-primary-dark) 95%, var(--color-white) 95%);
  border-radius: var(--large-radius);
  padding: 3.5rem 0;
}
.education__box {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  z-index: 10;
  color: var(--color-grey-light-1);
}
.education__box--bachelors .education__heading {
  align-self: flex-end;
}
.education__box--bachelors .education__content {
  flex-direction: row-reverse;
}
.education__heading {
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--color-grey-light-1);
  padding: 1rem 3.5rem;
}
.education__content {
  display: flex;
  justify-content: space-between;
  padding: 0 3.5rem;
}
.education__content > * {
  border-radius: var(--default-radius);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.45);
}
.education__image {
  overflow: hidden;
  position: relative;
  height: 30rem;
  transition: all 0.2s;
}
.education__image:hover {
  transform: scale(1.1);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.65);
}
.education__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(45rem, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.3));
}
.education__photo {
  height: 100%;
  z-index: -20;
}
.education__story {
  flex: 0 0 60%;
  background-color: rgba(34, 34, 34, 0.45);
  padding: 1.5rem 2rem;
}
.education__story .story__heading {
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2.5px;
}
.education__story .story__age {
  font-size: 2.5rem;
  font-weight: 500;
  font-style: italic;
}
.education__story .story__text {
  font-size: 2rem;
  font-weight: 400;
}

.experience {
  margin-top: 3.5rem;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, var(--color-white) 0%, var(--color-grey-light-1) 10%, var(--color-grey-light-1) 90%, var(--color-white) 100%);
}
.experience__heading {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  padding: 5rem 0;
  transition: all 0.2s;
  background-image: linear-gradient(to right, #00cca4, #00aabd, #145da0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience__heading:hover {
  transform: scale(1.15) rotate(-5deg);
}
.experience__timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3.5rem 5rem;
}
.experience__timeline__row {
  display: flex;
  min-width: 25%;
  min-height: 5rem;
  color: var(--color-primary-ultra);
  padding: 0 3.5rem;
}
.experience__timeline__item {
  flex: 1;
  display: flex;
  align-items: center;
}
.experience__timeline__item--date {
  border-right: 1px solid var(--color-primary-ultra);
  justify-content: flex-end;
  font-size: 4.5rem;
}
.experience__timeline__item--content {
  border-left: 1px solid var(--color-primary-ultra);
  position: relative;
  justify-content: center;
  font-size: 1.75rem;
}
.experience__timeline__item--content::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--color-primary-ultra);
  position: absolute;
  top: 50%;
  left: -0.55rem;
  transform: translateY(-50%);
}

.row-content {
  margin: 1.5rem 2rem;
  padding: 0.75rem 1.5rem;
  background-color: rgba(80, 80, 80, 0.17);
  border-radius: 12px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
}

.reversed-content {
  border-left: 1px solid var(--color-primary-ultra);
  justify-content: flex-start;
  font-size: 4.5rem;
}
.reversed-date {
  border-right: 1px solid var(--color-primary-ultra);
  font-size: 1.75rem;
}

.header__box {
  border-bottom: 1.5px solid currentColor;
  position: relative;
  z-index: 1;
  cursor: default;
  padding: 0 2rem;
}
.header__box--primary {
  animation: fade-left 0.75s ease-out;
  transition: all 0.35s;
}
.header__box--secondary {
  animation: fade-right 0.75s ease-out;
  transition: all 0.35s;
}
.header__box:hover {
  background-color: rgba(170, 170, 170, 0.15);
  transform: scale(1.1) rotate(-5deg);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.4);
}

.return {
  position: fixed;
  width: 5rem;
  height: 5rem;
  border-radius: var(--default-radius);
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 3.5rem;
  right: 3.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  z-index: 100;
}
.return__icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: rgba(0, 0, 0, 0.6);
  transition: all 0.2s;
}
.return:hover {
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-dark-ultra);
  margin-top: 3.5rem;
  padding: 3.5rem;
  flex-wrap: wrap;
  position: relative;
  background-image: linear-gradient(to bottom, var(--color-white) 0%, var(--color-white-o) 10%, rgba(255, 255, 255, 0.7) 50%, var(--color-white-o) 90%, var(--color-white) 100%), url("../assets/laptop.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.skills__heading {
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.25rem;
  transition: all 0.2s;
  z-index: 1;
  border-width: 0.25rem;
  border-style: solid;
  border-image: linear-gradient(to right, #0a355c, #145da0, #00aabd, rgba(0, 0, 0, 0)) 1 0;
  border-top: 0;
  background-image: linear-gradient(to right, #0a355c, #145da0, #00aabd);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skills__heading:hover {
  transform: translateY(-1.5rem) scale(1.15);
}
.skills__main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
.skills__box {
  background-color: rgba(80, 80, 80, 0.16);
  border-radius: var(--large-radius);
  margin-top: 7rem;
  padding: 4rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  z-index: 1;
  cursor: default;
  transition: all 0.35s;
  color: var(--color-primary-ultra);
}
.skills__box:hover {
  box-shadow: 0 4rem 5rem rgba(0, 0, 0, 0.25);
  background-color: rgba(80, 80, 80, 0.25);
}
.skills__box__heading {
  font-size: 3.25rem;
  font-weight: 600;
}
.skills__box__list {
  margin-top: 2rem;
}
.skills__box__item {
  font-size: 1.75rem;
  font-weight: 500;
  list-style: none;
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  transition: transform 0.2s ease;
}
.skills__box__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1.7rem;
  height: 0.7rem;
  width: 0.7rem;
  border: 1px solid currentColor;
  border-width: 0.2rem 0.2rem 0 0;
  transform: rotate(45deg);
}
.skills__box__item:hover {
  background-color: rgba(170, 170, 170, 0.15);
  transform: scale(1.15);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.4);
  border-radius: var(--default-small);
}

.error-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30vh;
  margin-left: 20rem;
}

.maintenance {
  color: var(--color-grey-dark);
}
.maintenance__heading {
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 0.3rem;
  border-bottom: 1px solid currentColor;
}
.maintenance__text {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.header {
  min-height: calc(100vh - 7rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: var(--color-white);
  background-image: linear-gradient(to right bottom, var(--color-primary-dark-o) 30%, var(--color-primary-o) 30%, var(--color-primary-o) 60%, var(--color-primary-light-o) 60%), url("../assets/ba-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.65));
}
.header__heading {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1rem;
}
.header__heading--primary {
  font-size: 6rem;
}
.header__heading--secondary {
  font-size: 2rem;
  margin-top: 2rem;
}

.navigation__cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 4rem 0;
  min-height: 80vh;
  background-image: linear-gradient(to bottom, var(--color-white) 0%, var(--color-grey-light-1) 10%, var(--color-grey-light-1) 90%, var(--color-white) 100%);
  margin-bottom: 3.5rem;
}

/*# sourceMappingURL=style.comp.css.map */
