.education{
    position: relative;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    background-image: 
        linear-gradient(
            45deg,
            var(--color-white) 5%,
            var(--color-secondary) 5%,
            var(--color-secondary) 37%,
            var(--color-tertiary) 37%,
            var(--color-tertiary) 40%,
            var(--color-primary-light) 40%,
            var(--color-primary-light) 60%,
            var(--color-primary-dark) 60%,
            var(--color-primary-dark) 95%,
            var(--color-white) 95%
        );
    border-radius: var(--large-radius);
    padding: 3.5rem 0;

    &__box{

        display: flex;
        flex-direction: column;
        padding: 1rem 5rem;
        z-index: 10;
        color: var(--color-grey-light-1);
        
        &--high-school{

        }
    
        &--bachelors{
            .education__heading{
                align-self: flex-end;
            }

            .education__content{
                flex-direction: row-reverse;
            }
        }
    
        &--masters{
    
        }
    }


    &__heading{
        font-size: 4rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .5rem;
        color: var(--color-grey-light-1);
        padding: 1rem 3.5rem;
    }

    &__content{
        display: flex;
        justify-content: space-between;
        padding: 0 3.5rem;

        & > * {
            border-radius: var(--default-radius);
            box-shadow: 0 2rem 4rem rgba(#000, .45);
        }
    }

    &__image{
        overflow: hidden;
        position: relative;
        height: 30rem;
        transition: all .2s;

        &:hover{
            transform: scale(1.1);
            box-shadow: 0 2rem 5rem rgba(#000, .65);
        }
        
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: radial-gradient(45rem, rgba(#000, 0.01), rgba(#000, .3));
        }
    }

    &__photo{
        height: 100%;
        z-index: -20;
    }

    &__story{
        flex: 0 0 60%;
        background-color: rgba(34, 34, 34, 0.45);
        padding: 1.5rem 2rem;

        .story{
            &__heading{
                font-size: 3.5rem;
                font-weight: 500;
                letter-spacing: .2rem;
                text-decoration: underline;
                text-decoration-thickness: 1.5px;
                text-underline-offset: 2.5px;
            }
            &__age{
                font-size: 2.5rem;
                font-weight: 500;
                font-style: italic;
            }
            &__text{
                font-size: 2rem;
                font-weight: 400;
                text-align: justify;
                padding: 1rem;
            }
        }
    }
}