.header__box {
    border-bottom: 1.5px solid currentColor;
    position: relative;
    z-index: 1;
    cursor: default;
    padding: 0 2rem;
    backdrop-filter: blur(var(--header-backdrop-blur));
    -webkit-backdrop-filter: blur(var(--header-backdrop-blur));
    background-color: rgba(#000, 0.1);
    transition: all 0.35s ease-out;

    &--primary {
        animation: fade-left 0.75s ease-out;
        animation-delay: 0s;
    }

    &--secondary {
        animation: fade-right 0.75s ease-out;
        animation-delay: var(--header-animation-delay);
    }

    &:hover {
        background-color: rgba(#aaa, 0.2);
        transform: scale(1.05) translateY(-2px);
        box-shadow: 0 2rem 6rem rgba(#000, 0.4);
        border-bottom-color: var(--color-primary-light);
    }
}