.return{
    position: fixed;
    width: 5rem;
    height: 5rem;
    border-radius: var(--default-radius);
    background-color: rgba(#fff, .5);
    bottom: 3.5rem;
    right: 3.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    z-index: 100;

    &__icon{
        height: 2.5rem;
        width: 2.5rem;
        fill:rgba(#000, .6);
        transition: all .2s;
    }

    &:hover{
        box-shadow: 0 0 1.5rem rgba(#000, .5);
    }

}