:root{

    --color-primary-light: #00AABD;
    --color-primary-light-o: #00AABDBB;
    --color-primary-light-rgb: 0, 170, 189;

    --color-primary: #0085BD;
    --color-primary-o: #0085BDBB;
    --color-primary-rgb: 0, 133, 189;

    --color-primary-dark:#145DA0;
    --color-primary-dark-o:#145DA0BB;
    --color-primary-dark-rgb: 11, 55, 94;

    --color-secondary: #00CCA4;
    --color-sceondary-dark: #1b5247;
    --color-secondary-rgb: 0, 204, 164;

    --color-tertiary: #DAA21B;
    --color-tertiary-rgb: 218, 162, 27;

    --color-white:#fff;
    --color-grey-light-1: #f7f7f7;
    --color-grey-light-2:#bbb;
    --color-grey-dark:rgb(80, 80, 80);
    --color-black:#000;

    --default-radius: 1rem;
    --large-radius: 2rem;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;   //1rem = 10px, 10px / 16px = 0.625
    scroll-behavior: smooth;
}

body{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
    padding: 3.5rem;
}